@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "esamanru-Regular";
  font-weight: normal;
  src: url("./fonts/esamanru/esamanruMedium.ttf") format("truetype");
}
@font-face {
  font-family: "esamanru-Light";
  font-weight: normal;
  src: url("./fonts/esamanru/esamanruLight.ttf") format("truetype");
}

body {
  line-height: 0;
}
body section {
  line-height: 1.5;
}
.frame-text {
  font-family: "esamanru-Light";
  line-height: 1.8;
}
img {
  object-fit: contain;
}
